/* div {
  --button-height: 27px;
  --button-width: 35px;
} */
:root {
  --header-height: 12vh;
  --footer-height: 5vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: white;
}

body {

  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  height: var(--header-height);
  line-height: var(--header-height);
}

footer {
  height: var(--footer-height);
  line-height: var(--footer-height);
}

header,
footer {
  background: #000;
}

.right {
  position: fixed;
  left: 100%;
  bottom: var(--footer-height);
  top: var(--header-height);
  background: rgba(78%, 76%, 76%, 85%);

  transition: 0.5s ease;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.right.active {
  left: 0%;
}

body {
  background: rgb(212, 210, 210);
}


img {
  height: 40px;
  width: 100px;
  opacity: 1;
  margin: 10px;
}

.image-big {
  width: 100%;
}

.image-great {
  width: 80%;
  height: 40%;
}

.image-small.active {
  border: 2px solid yellow;
}


.burger_menu {
  font-size: 25px;
  position: absolute;
  z-index: 1;
  right: 8%;
  top: var(--header-height);
}

@media (orientation: landscape) {
  .burger_menu {
    right: 6%;
    top: var(--header-height);
  }
}

@media (min-width: 768px) {
  :root {
    --header-height: 6vh;
    --footer-height: 5vh;
  }

  .right {
    left: 50%;
    opacity: 1;
    position: absolute;
    width: 50%;
    height: 85%;
    background-color: rgb(212, 210, 210);
    z-index: 0;
  }

  .right.active {
    left: 50%;
  }

  .left {
    width: 50%;
    height: 100%;
  }

  .burger_menu {
    opacity: 0;
  }

  footer {
    z-index: 1;
  }

  img {
    height: 100px;
    width: 200px;
  }
}